div[title] {
	background-color: yellow;
}
div[suma="1500"] {
	background-color: lightblue;
}
div[class~="kluczowy"] {
	background-color: greenyellow;
}
div[title^="key"] {
	background-color: orange;
}
div[title$="1"] {
	background-color: lightpink;
}